/dadStateless/nbproject/private/
/clienteStateful/nbproject/private/
/clienteStateful/build/
/dadStateless/build/
/dadStateless/dist/
/DAD2018Teste/nbproject/private/
/DAD2018Teste/build/
/DAD2018Teste/dist/
/fichaCatalografica/nbproject/private/
/fichaCatalografica/build/
/fichaCatalografica/dist/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/JavaApplication2/nbproject/private/